#####################################
# Decanter EventAdmin Collector for Talend SAM events
#####################################

# EventAdmin topics to listen
event.topics=org/talend/esb/sam/events

# Field configuration
fields.add.category = sam
fields.add.agentId = agent1

# Custom fields
#key=value
